{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    
    <img src="/static/logo.png" class="logo img-responsive center-block" alt="Where on Earth logo">

    <form action="/register" method="post">

        <div class="form-group pb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control input-lg" autocomplete="off" autofocus required id="username" name="username" placeholder="Name" type="text">
        </div>

        <div class="form-group pb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control input-lg" required id="password" name="password" placeholder="6+ characters" type="password">
        </div>

        <div class="form-group pb-3">
            <label class="form-label" for="confirmation">Confirm password</label>
            <input class="form-control input-lg" required id="confirmation" name="confirmation" placeholder="6+ characters" type="password">
        </div>

        <button type="submit" class="btn btn-lg" id="register">Register</button>

    </form>

{% endblock %}